@media(max-width:1007px) {
    .main-img-cnd {
        display: none;
    }

    .column {
        margin: 0 auto;
    }

    .ref-card {
        display: flex;
        flex-direction: column;
    }

    .header_container {
        padding: 10px 20px;
    }

    .main-text-padding {
        align-items: center;
        padding: 100px 0px;
        text-align: center;

    }


    .btn-grp {
        padding: 0;
    }

    .container {
        padding: 0px 20px;
    }
}

@media(min-width:887px) {
    .innerdropdown {
        position: absolute;
        display: none;
        width: 100%;
        background-color: #ffffff;
        padding-inline-start: 0px;
        margin-top: -38px;
        margin-left: 100px;
    }

    .dropdown li a {
        display: block;
        padding: 10px 10px;
        text-decoration: none;
        background-color: #ffffff;
    }

    .dropdown {
        position: absolute;
        display: none;
        background-color: #ffffff;
        padding-inline-start: 0px;
        margin-top: 0px;

    }

    .innerdropdown:hover {
        display: flex;
        flex-direction: column;
    }

    .dp:hover+.dropdown {
        display: block;
    }

    .dropdown a {
        color: #1BA0AB;
    }

    .dropdown:hover {
        display: flex;
        flex-direction: column;
    }

    .innerdropdown li a {
        display: block;
        padding: 10px 10px;
        text-decoration: none;
        background-color: #ffffff;
    }

    .pricing:hover+.innerdropdown {
        display: block;
    }

    .dropdown li a:hover {
        background-color: #1BA0AB;
        color: #ffffff;
    }

    .ref-card-pad {
        padding: 25px;
    }

    .ref-card-img {
        width: 100%;
    }
}

@media(max-width:886px) {
    .checkbtn {
        display: inline-flex;
    }

    .checkbtn #close-icon {
        display: none
    }

    #menu:checked~.checkbtn #menu-icon {
        display: none;
    }

    #menu:checked~.checkbtn #close-icon {
        display: block;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 72%;
        left: -100%;
        width: 50vh;
        padding-right: 0px;
        display: none;
        background-color: #0bd0fa;
        transition: width .35s ease-in-out;

    }

    .nav-container a {
        color: #ffffff;
        padding: 10px 20px;
    }

    .dropdown li a {
        padding: 10px 40px;
        color: #ffffff;
    }

    #inner_menu:checked+label i,
    #sub_inner_menu:checked+label i {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

    #inner_menu:checked~.dropdown {
        display: block;

        position: relative;

    }

    #sub_inner_menu:checked~.innerdropdown {
        display: block;
        position: relative;

    }

    .innerdropdown {
        display: none;
        width: 100%;
        padding-inline-start: 0px;
        transition: 0.5s ease-in-out;
        padding-inline-start: 0px;
    }

    .dropdown {
        transition: 0.5s ease-in-out;
        display: none;
        padding-inline-start: 0px;
    }

    .innerdropdown li a {
        padding: 10px 60px;

    }

    .nav-container li {
        width: 100%;
    }

    #menu:checked~nav .nav-container {
        display: block;
        left: 0;
    }

    .nav-container li a {
        font-size: 14px;
        display: block;
        background-color: #0bd0fa;

    }

    .btn-primary.lgn {
        display: none;
    }

    .header-nav {
        justify-content: space-between;
    }

    .brand {
        padding-left: 48px;
    }

    .btn-primary.login {
        display: block;
        background-color: #252B42;
        border-radius: 100px;
        padding: 2px 18%;
        color: #ffffff;
    }

    .nav-container a:hover {
        background-color: #252B42;
    }
}

@media(max-width:790px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }

    .section-gap {
        padding: 40px 0px 40px 0px
    }

    .ref-card-cnd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
    }

    .column {
        align-items: center;
        text-align: center;
    }

    .card {
        gap: 15px
    }

    .container {
        padding: 0px 20px 0px 20px;
        margin: 0 auto;
    }

    .getin-touch-gap {
        gap: 15px;
    }

    .employee-text-pad {
        padding: 0px 0px 60px 0px
    }

    .employee-card-c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .enquiry-line {
        width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .enquiry-section {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .primary-gap {
        gap: 20px;
    }

    .enquiry-pad {
        align-items: center;
    }

    .enquiry-card-style {
        align-items: center;
        max-width: 250px;
    }

    .about-area {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .review-card-c {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-text-pad {
        padding: 40px 0px;
    }
}

@media(max-width:530px) {
    .btn-grp {
        gap: 0;
    }

    .main-text-padding {
        padding: 100px 20px;
    }

    .btn-secondary-padding {
        padding: 10px 20px;
    }

    .footer-top {
        padding: 40px 0px;
    }

    .ref-card-pad {
        padding: 5px;
    }

    .ref-card {
        display: flex;
        flex-direction: column;

    }

    .ref-card-cnd {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .btn-primary.btn-secondary.btn-row {
        padding: 7px 8px;
        font-size: 12px;
    }

    .enquiry-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .footer-top-email {
        width: 100%;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .footer-gap {
        padding: 20px 50px 20px 50px;
    }

    .getin-touch-gap {
        padding: 20px 0px 20px 50px;
    }

    .employee-card-c {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:425px) {
    h3 {
        font-size: 20px;
    }

    .ref-card {
        padding: 0;
    }

    .container {
        padding: 0 15px;
    }

    .ref-card-cnd {
        padding: 0px;
    }

    h1 {
        font-size: 35px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 28px;

    }

    .review-card_text {
        padding: 0px;
    }

    .brand {
        padding-left: 40px;
    }

    .header_container {
        padding: 10px 15px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-top-button {
        padding: 10px 20px;
    }

    .footer-top-input {
        padding: 10px 20px;
    }
}