@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-weight: 700;
    font-family: montserrat;
    letter-spacing: 0.40000000298023224px;
}
a{
    text-decoration: none;
    color: #737373;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #737373;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}


h1 {
    font-size: 58px;
    font-weight: 700;
    color: #252B42;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat;
    line-height: 50px;
    color: #252B42;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    color: #252B42;
    margin-block-start: 10px;
    margin-block-end: 10px;

}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #737373;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h5 {

    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    margin-block-start: 0px;
    margin-block-end: 0px;

}


h6 {
    color: #1BA0AB;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    

}
.textcolor1{
    color: #1BA0AB;
}
.textcolor2{
    color: #ffffff;
}
.textcolor3{
    color: #BDBDBD;
}
.textcolor4{
    color: #F69B25;
}
.textcolor5{
    color: #737373;


}
.small_text
{
    font-size: 12px;
}
/*****************headerstart***********************************/

.header_container {
    position: relative;
    display: flex; 
gap: 215px;
     align-items: center;
     flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1080px;
}
.header-nav{
    display: flex;
justify-content: space-between;
align-items: center;
}
.fixed-top {
 position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;  
    background: #FFF5F0; 
 
  

}
.brand{
    padding-right: 10px;
}



.nav-container {
    position: relative;
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #1BA0AB;
    font-size: 14px;

}


.nav-container li a {
    color: #737373;
    padding: 10px 10px;
    font-size: 14px;
}
.btn-grp{
    display:flex ;
    gap:20px;
}
.btn {
    color: #1BA0AB;
    background-color: transparent;
    border-color: transparent;
    padding: 15px 25px;
    border-radius: 5px;
    border-width: 1px;
}

.btn.btn2 {
    background-color: #1BA0AB;
    color: #ffffff;
}
.btn6{
    padding: 15px 40px;
}
.btn2 i{
    font-size: 16px;
}

.btn-row{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*****************headerend***********************************/

.main-container-bg {
    background-color: hsl(20, 100%, 97%);
}
.main-container-area{
    display: flex;
    padding-block-start: 7%;
    margin: 0 auto;
    max-width: 1150px;

}

.btn.btn3 {
    border-color: #1BA0AB;
}

.main-discription {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    padding-top: 160px;
}
.main-img-cnd{
    max-width: 500px;
   
}

.main-img{
   /* margin-left:245px ; */
   background-color: hsl(20, 100%, 97%);   
   /* width: 100%; */
}
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.row{
    display: flex;
    border-color: #E74040;
    align-items: center;
    gap:5px;
   
}

.boking-section
{
    display: flex;
    padding: 160px 0px;
    gap: 30px;
    overflow: hidden;
    justify-content: space-between;
}

.booking-card{
    display: grid;
    grid-template-columns:repeat(2,1fr); 
    column-gap: 15px;
    max-width: 550px;
}
.booking-text-area{ 
flex:1;
}
.booking-text{
   padding-top: 25px;
     max-width: 420px;
     display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.booking-icon{
   background-color: #1BA0AB;
   max-width: 70px;
   color:#E6E6E6;
   font-size: 32px;
   padding: 22px 19px;
   border-radius: 10px;

}
.card{
    display: flex;
flex-direction: column;
gap: 20px;

}
.booking-card-style{
    box-shadow: 0px 13px 19px 0px #00000012;
    background: #ffffff;
    padding: 40px 42px;
}

.hr1 {
    background: #E74040;
    max-width: 94px;
    height: 7px;
    margin: 0;
    border: #E74040;
}

.hr1.hr2 {
    max-width: 50px;
    height: 2px;
}
.ref-top-text{
    padding: 80px 0px  96px 0px;
}
.about-area
{
display: flex;
padding-bottom: 80px;
justify-content: space-between;
}
.about-text-area{
    padding: 140px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-img{
    max-width: 900px;
}

.booking-p-text{
    max-width: 420px;
}

.ref-c{
    padding-bottom: 78px;
}
.ref-card-cnd
{
display: grid;
grid-template-columns:repeat(2,1fr); 
}
.ref-card
 {
    padding: 0px 15px 0px 15px;
    display: flex;
    overflow: hidden;
    
}
.ref-card-text {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 25px;
    overflow: hidden;
    gap: 20px;   
    
}
.rating
{

 background: #26335D;
 display: flex;  
 align-items: center;
padding: 5px;
gap: 5px;
border-radius: 30px;
opacity: 0px;
overflow: hidden;
position: relative;
}
.sale{
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 3px 10px;
    background-color: #E74040;
    color: #ffffff;
    border: none;

}
.ref-icon-grp{
    display: flex;
    position: absolute;
    top: 313px;
    left: 35px;
    gap: 10px;
}
.ref-icon-area{
    padding: 10px;
    font-size: 20px;
    background-color: #ffffff ;
    border-radius: 100px;
}
.ref-card-img
{
position: relative;
}
.star_icon
{
    font-size: 16px !important;
    color:  #FFCE31;
    font-weight: 700;
    

}
.ref-head
{
    display: flex;
    overflow: hidden; 
    justify-content: space-between;
    align-items: center;
    
 }
.ref-row{
    display: flex;
    overflow: hidden; 
    flex-wrap: wrap;
    gap:5px;
    align-items: center;
}


/* .inline{
    display:flex;
    /* column-gap: 5px; */
    /* align-items: center; */

/* } */ 

.iconsize
{
   font-size: 19px !important;
}

.btn.btn3.btn4{
    border-radius: 30px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}
.review-top-text
{
    padding: 160px 0px 96px 0px;
}
.review-card-c{
    display: grid;
    grid-template-columns:repeat(2,1fr); 
    gap:30px;
    text-align: center;
    justify-content: center;
    
   
}
.review-card_text{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 30px 88px
    
}
.img_round{
    border-radius: 50%;
    /* max-width: fit-content; */
    max-width: 100%;
    height: auto;
}
.doctors-c
{
 padding-bottom:34px ;   
}

.doctors-card-c
{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    /* background-color: #d84d4d; */
    grid-gap: 39px;
    width: fit-content;
}
.doctors-top-text{
    padding: 112px 0px;
}
.doctors-card{
display: flex;
flex-direction: column;
justify-content: center;
box-shadow: 0px 13px 19px 0px #00000012;
border-radius: 0px 0px 20px  20px;
}
.doctors-card-img{
    border-radius: 20px 20px 0px  0px;
/* justify-content: center; */

}
.doctors-card-icon{
    display: flex;
    color: #1BA0AB;
    gap:20px;
    font-size:24px;
}
.doctors-card-container
{
    font-size: 24px;

}
 .doctors-card-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 30px 0px;
        gap:10px;
    }

.footer-top-bgcolor
{
       
    background-color: #FFF5F0;
  
}
.footer-top-text{
    padding:80px 0px ;
}
.footer-top-c{
    padding: 80px 0px;
}
.footer-top
{       
    display: flex;
    flex-direction: column;
    text-align: center;
   align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
.footer{
    display:flex;
justify-content: space-between;
gap: 30px;
font-size: 14px;
padding: 50px 0px;
}
.footer-sub-H-gap{
padding-bottom: 10px;
}
.get-in-touch{
    display: flex;
    max-width: 300px;
    align-items: center;
    gap:10px
}
.footericon{
    font-size: 24px;
    color: #1BA0AB;
}
.footer-gap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap:15px
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap:10px
}

  .footer-top-input
  {
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #E6E6E6
    ;

  }
  .footer-top-button
  {
    color: #ffffff;
    padding: 15px 20px;
    background-color: #1BA0AB;
    border:1px solid #1BA0AB;

  }

  .footer-top-email
  {
    display: flex;
    width: 70%;    
  }
  .footer-bottom{
    padding: 25px 7px;
    display: flex;
    justify-content: space-between;
  }