@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    /* min-width: max-content; */
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    font-weight: 700;
    font-family: montserrat;
    letter-spacing: 0.40000000298023224px;
}

a {
    text-decoration: none;

}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #737373;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}


h1 {
    font-size: 58px;
    font-weight: 700;
    color: #252B42;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat;
    color: #252B42;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    color: #252B42;
    margin-block-start: 10px;
    margin-block-end: 10px;

}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #737373;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h5 {

    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    margin-block-start: 0px;
    margin-block-end: 0px;

}


h6 {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;


}

.skyblue-text {
    color: #1BA0AB;
}

.white-text {
    color: #ffffff;
}

.lightgray-text {
    color: #BDBDBD;
}

.orange-text {
    color: #F69B25;
}

.darkgray-text {
    color: #737373;
}

.small_text {
    font-size: 12px;
}

.p-max {
    max-width: 375px;
}

.h1-max {
    max-width: 910px;
}

/*****************headerstart***********************************/
.btn-primary.login {
    display: none;
}

.header_container {
    position: relative;
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1080px;
    padding: 16px 0px;
    justify-content: space-between;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* height: 100vh; */
    z-index: 999;
    background: #FFF5F0;
}

.brand {
    padding-right: 10px;
}

.nav-container {
    position: relative;
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #1BA0AB;
    font-size: 14px;
}

.dropdown li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown li a:hover {
    background-color: #BDBDBD;
}

.nav-container a {
    color: #737373;
    padding: 10px 10px;
    font-size: 14px;
}

.nav-container a:hover {
    color: #1BA0AB;
    background-color: #BDBDBD;
}

.nav-container ul li {
    list-style: none;
}

.dp:hover+.dropdown {
    display: block;
}

.dropdown:hover {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 100%;
    padding-inline-start: 0px;
    margin-top: -25px;

}

.innerdropdown {
    position: absolute;
    display: none;
    width: 100%;
    background-color: #ffffff;
    padding-inline-start: 0px;
    margin-top: -38px;
    margin-left: 81px;

}

.innerdropdown:hover {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.pricing:hover+.innerdropdown {
    display: block;
}

.innerdropdown li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #ffffff;
}

#menu {
    display: none;

}

.checkbtn {
    position: absolute;
    font-size: 24px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

.btn-padding {
    padding: 0px !important;
}

.btn-grp {
    display: flex;
    gap: 20px;
    padding-right: 150px;
}

.btn-primary {
    color: #1BA0AB;
    background-color: transparent;
    border-color: transparent;
    padding: 15px 25px;
    border-radius: 5px;
    border-width: 1px;
}

.btn-secondary {
    background-color: #1BA0AB;
    color: #ffffff;
}

.btn-secondary-padding {
    padding: 15px 40px;
}

.btn-secondary i {
    font-size: 16px;
}

.btn-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*****************headerend***********************************/

.main-container-bg {
    background-color: hsl(20, 100%, 97%);
}

.main-container-area {
    display: flex;
    padding-block-start: 8%;
    margin: 0 auto;
    max-width: 1080px;

}

.btn-border {
    border-color: #1BA0AB;
}

.main-discription {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 50%;
    padding-top: 160px;
}

.main-img-cnd {
    /* max-width: 500px; */
    width: 100%;
}

.main-img {
    /* margin-left:245px ; */
    background-color: hsl(20, 100%, 97%);
    width: 100%;

}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;

}

.enquiry-section {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.enquiry-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    max-width: 550px;
}

.enquiry-text-area {
    flex: 1;
}

.enquiry-text {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.enquiry-icon {
    background-color: #1BA0AB;
    max-width: 70px;
    color: #E6E6E6;
    font-size: 32px;
    padding: 22px 19px;
    border-radius: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;

}

.enquiry-card-style {
    /* box-shadow: 0px 13px 19px 0px #00000012; */
    background: #ffffff;
    box-shadow: 25px 0px 114.1px -13px #00000012;
    padding: 35px 42px;
}


.hr-bold {
    background: #E74040;
    width: 94px;
    height: 7px;
    /* margin: 0; */
    margin-inline-start: 0;
    margin-inline-end: 0;
    border: #E74040;
}

.hr-bold.hr-small {
    max-width: 50px;
    height: 2px;
}

/* .ref-top-text {
    padding: 80px 0px 96px 0px;
} */

.about-area {
    display: flex;
    justify-content: space-between;

}


.about-text-pad {
    padding-top: 140px;

}

.about-img {
    max-width: 900px;
}

.p-text {
    max-width: 420px;
}

.text-condainer {
    padding-bottom: 96px;
}

.ref-c {
    padding-bottom: 102px;
}

.ref-card-cnd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ref-card {
    padding: 0px 15px 0px 15px;
    display: flex;
    overflow: hidden;

}

.ref-card-pad {
    padding: 25px 0px 0px 25px;
}

.rating {

    background: #26335D;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border-radius: 30px;
    opacity: 0px;
    overflow: hidden;
    position: relative;
}

.sale {
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 3px 10px;
    background-color: #E74040;
    color: #ffffff;
    border: none;

}

.ref-icon-grp {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ref-card-img img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.ref-icon-area {
    padding: 10px;
    font-size: 20px;

    background-color: #ffffff;
    border-radius: 50%;
    color: #252B42
}

.ref-card-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.star_icon {
    font-size: 16px !important;
    color: #FFCE31;
    font-weight: 700;


}

.ref-head {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

}

.ref-row {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.ref-head-text {
    max-width: 185px;
    overflow: hidden;
}

.employee-card-text-container p {
    max-width: 150px;
    overflow: hidden;
    text-align: center;
}

.employee-card-text-container h5 {
    max-width: 150px;
    overflow: hidden;

}

.iconsize {
    font-size: 19px !important;
}

.rounded-btn {
    border-radius: 30px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.review-top-text {
    padding: 160px 0px 96px 0px;
}

.review-card-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
    justify-content: center;


}

.review-card_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 88px
}

.img_round {
    border-radius: 50%;
    /* max-width: fit-content; */
    max-width: 100%;
    height: auto;
}

.employee-text-pad {
    padding: 35px 0px 112px 0px;
}

.employee-card-c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: #d84d4d; */
    grid-gap: 39px;
    width: fit-content;
}



.employee-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 0px 0px 20px 20px;
}

.employee-card-img {
    border-radius: 20px 20px 0px 0px;
    /* justify-content: center; */

}

.employee-card-icon {
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: #1BA0AB;
}

.employee-card-container {
    font-size: 24px;

}

.employee-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 30px 0px;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.footer-top-bgcolor {

    background-color: #FFF5F0;

}

.footer-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
    padding-bottom: 50px;
}

.footer-sub-H-gap {
    padding-bottom: 10px;
}

.get-in-touch {
    display: flex;
    max-width: 300px;
    align-items: center;
    gap: 10px
}

.getin-touch-gap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap:15px; */
    justify-content: space-between;


}

.footericon {
    font-size: 24px;
    color: #1BA0AB;
}

.address-height {
    line-height: 25px;
}

.footer-gap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px
}

.section-gap {
    padding: 80px 0px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.main-text-padding {
    padding-top: 160px;
}

.enquiry-pad {
    padding-top: 23px;
}

.primary-gap {
    gap: 30px;
}

.gap-secondary {
    gap: 10px
}

.footer-top-input {
    padding: 20px 20px;
    width: 100%;
    border: none;
}

.footer-top-button {
    color: #ffffff;
    padding: 20px 20px;
    background-color: #1BA0AB;
    border: none;

}

.footer-top-email {
    display: flex;
    width: 70%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E6E6E6;

}


.footer-bottom {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

/***********************************meadia quaries  start *****************************/
@media(max-width:1007px) {
    .main-img-cnd {
        display: none;
    }

    .main-text-padding {
        align-items: center;
        padding: 100px 50px;
        text-align: center;

    }

    /* .container{
        padding: 0px 50px;
    }  */
    .btn-grp {
        padding: 0;
    }

    .header_container {
        /* justify-content: space-between; */
        padding: 0px 20px;
    }

    .ref-card-cnd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 8%;
        gap: 40px;
    }

    .ref-card-img {
        width: 100%;
    }

    .ref-card-pad {
        padding: 25px;
    }

    .ref-card {
        display: flex;
        flex-direction: column;
        padding: 2%;
        box-shadow: 0px 13px 19px 0px #00000012;

    }

    .ref-card-cnd h6 {
        font-size: 16px;
    }

    .ref-card-cnd p {
        font-size: 16px;
    }

    .ref-card-cnd h5 {
        font-size: 18px;
    }

    .ref-card-cnd .small_text {
        font-size: 14px;
    }

    .rating {
        line-height: 20px;
    }
}

@media(max-width:887px) {
    .checkbtn {
        display: inline-flex;
    }

    .checkbtn #close-icon {
        display: none
    }

    #menu:checked~.checkbtn #menu-icon {
        display: none;
    }

    #menu:checked~.checkbtn #close-icon {
        display: block;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 72%;
        left: 0;
        width: 50%;
        height: 0;
        overflow: hidden;
        background-color: #ffffff;
        transition: .3s ease;
    }

    #menu:checked~nav .nav-container {
        height: 100vh;
        width: 100%;
    }

    .nav-container a {
        font-size: 14px;
        display: block;
    }

    .btn-primary.lgn {
        display: none;
    }

    .dropdown {
        margin-top: -12%;
        margin-left: 100px;

    }

    .innerdropdown {
        margin-top: -12%;
        margin-left: 100px;
        transition: .3s ease;
    }

    .header-nav {
        justify-content: space-between;
    }

    .header_container {
        justify-content: space-between;
    }

    .brand {
        padding-left: 120px;
        /* font-size: 30px; */
    }

    .btn-primary.login {
        display: block;
        font-size: 18px;
        background-color: #737373;
        border-radius: 100px;
        padding: 0px 10%;
    }
}

@media(max-width:790px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    .ref-card-cnd {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        padding: 0px 20px 0px 20px;
    }

    .getin-touch-gap {
        gap: 15px;
    }

    .employee-card-c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-column-gap: 10px; */
    }

    .enquiry-line {
        width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .enquiry-section {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .primary-gap {
        gap: 20px;
    }

    .enquiry-pad {
        align-items: center;
    }

    .enquiry-card-style {
        align-items: center;
        max-width: 250px;
    }

    .about-area {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .review-card-c {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-text-pad {
        padding: 40px 0px;
    }
}

@media(max-width:530px) {
    .btn-grp {
        gap: 0;
    }
.ref-card-pad{
    padding: 0px;
}
    .brand {
        padding-left: 35px;

    }

    .btn-primary {
        padding: 7px 8px;
        font-size: 12px;
    }

    .enquiry-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .footer-top-email {
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .footer-gap {
        padding: 20px 50px 20px 50px;
    }

    .getin-touch-gap {
        padding: 20px 50px 20px 50px;
    }
}

@media(max-width:425px) {
    h3 {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 28px;

    }

    .review-card_text {
        padding: 0px;
    }

    .employee-card-c {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
    }
}