* {
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;

  
}
body{
  margin: 0;
}
nav{
  background-color: #FFF5F0;

}
div.navcontainer
{
padding-left: 0px;
/* background-color: #E74040; */
background-color: #FFF5F0;

margin-right: 59px; 
margin-left: 59px;
}
ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  
}

li {
  position: relative;
  float: left;
  padding-left:21px;
  padding-top: 30px;
}

li a {
  display: block;
  text-decoration: none;
  color: #737373;
  right: 100px;
}

li a:link {
  color: #737373;
  top: 17px;
  gap: 21px;
  opacity: 0px;
}

h3.md {
color: #252B42;
position:relative;
margin-top: -10px;
margin-right:41px;
gap: 0px;
margin-left:71px;
opacity: 0px;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
}
.jub {
  background-color:#1BA0AB;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 25px 15px 25px;
  gap: 15px;
  border-radius: 5px;
  opacity: 0px;
}
i.material-icons{
margin-left:10px;
font-size: 14px;
}

.ju {
  position: relative;
   left: 240px;
   padding: 0px 77px 0px 0px; 
  padding-top: 15px;
}

.lg {
  position: relative;
  left: 219px;
}
.lg a {
  text-decoration: none;
  color: #1BA0AB;
  
}

.cnd1 {
  background-color: #FFF5F0;
  overflow: hidden;
}

.greatcnd {
  position: relative;
  float: left;
  left: 132px;
}

.great {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
 color: #252B42;

}

.wl {
  color: #1BA0AB;
  font-size: 16px;
  margin-block-start: 150px;
}

.image1 {
  position: relative;
  width: 704px;
  height: 684px;
  top: 22px; 
  float: right;
  gap: 0px;
  opacity: 0px;
  
}

p.get {
  position: relative;
  margin-block-start: -17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

button.bt1 {
  width: Hug (133px)px;
  height: Hug (52px)px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px;
  opacity: 0px;
  background: #1BA0AB;
  color: #ffffff;
  font-size: 14px;
  border: none;
}

button.bt2 {
  position: relative;
  left: 10px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #1BA0AB;
  right: 10px;
}

.hr1 {
  width: 94px;
  height: 7px;
  gap: 0px;
  opacity: 0px;
  background: #E74040;
  margin: 0px;
  display: block;
}

.ourcnd {
  background-color: red;
  margin-left: 195px;
  margin-top: 183px;
  margin-right: 200px;

}

.our {
  /* margin-top: 183px; */
  /* opacity: 0px; */
  /* background-color: blue; */

}

h2.otxt1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

p.otxt2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;

}

p.otxt3 {
  width: Hug (101px)px;
  height: Hug (24px)px;
  gap: 10px;
  opacity: 0px;
  color: #1BA0AB;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;

}

div.icn1 {
  position: relative;
  right: 230px;
  float: right;
  height: 292px;
  width: 800px;
  margin-left: 0;
}

div.card1 {
  position: relative;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 239px;
  height: 292px;
  opacity: 0px;
  right: 280px;
  padding-left: 30px;
}

div.card2 {
  position: relative;
  float: right;
  /* right: 260px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 239px;
  height: 292px;
  opacity: 0px;
  padding-left: 15px;
}

div.cardcnd {
  float: right;
}

hr.hr2 {
  width: 50px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
  margin: 0;
  background: #E74040;
}

.image4 {
  width: Hug (520px)px;
  height: Hug (549px)px;
  gap: 30px;
  opacity: 0px;
}

div.page3 {
  position: relative;
  width: 1245px;
  height: 549px;
  gap: 0px;
  margin-left: 270px;
  margin-block-start: 100px;
  justify-content: space-between;
  opacity: 0px;
  float: left;
}

.cnd3 {
  position: relative;
  float: right;
  gap: 35px;
  opacity: 0px;
  margin-right: 180px;
  margin-top: 150px;
}
